form {
  background-color: gray;
  width: 20%;
  text-align: left;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
}

form * {
  margin-top: 10px;
}

form label {
  font-size: 15px;
}

form .name-input {
  padding: 5px;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border-style: none;
}

form select {
  width: 210px;
  height: 30px;
}

form textarea {
  width: 210px;
  border-radius: 5px;
  height: 60px;
  border-style: none;
  rows: 4;
  cols: 50
}
form input[type='submit']{
  background-color: deepskyblue;
  color: white;
  width: 140px;
  height: 40px;
}
